 <mat-form-field>
      <ngx-mat-file-input formControlName="basicfile" placeholder="Basic Input" (change)="onSelectedFileMultiple($event)" ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    <mat-nav-list>
       
  <mat-list-item *ngFor="let file of myFiles">
    
   <mat-icon mat-list-icon *ngIf="file.type.includes('image')">image</mat-icon>
   <mat-icon mat-list-icon *ngIf="file.type.includes('pdf')">picture_as_pdf</mat-icon>
   <mat-icon mat-list-icon *ngIf="!file.type.includes('pdf') && !file.type.includes('image') ">insert_drive_file</mat-icon>
     <a  mat-line [href]="file.link">{{file.name}}</a>
     <button mat-icon-button >     
        <mat-icon>info</mat-icon>
     </button>
  </mat-list-item>
</mat-nav-list>


